* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600px;
    line-height: 1.4em;
}

span {
    font-size: 1em;
    font-weight: 300;
}

.left-size {
    position: relative;
    background: #003147;
    padding: 40px;
}

.contactInfo {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

ul {
    position: relative;
}

li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
}

.education li {
    margin-bottom: 15px;
}

h5 {
    color: #03a9f4;
    font-weight: 500;
    padding-bottom: 15px;
}

h4 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px
}

#education {
    padding-top: 60px;
}

.right-size {
    position: relative;
    background: #fff;
    padding: 40px;
}

.about {
    margin-bottom: 20px;
}

.about:last-child {
    margin-bottom: 0;
}

.container-right-size {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding-top: 30px;

}
#perfil {
    padding-bottom: 10px;
}

p {
    color: #333;
    font-weight: 500px;
    text-transform: none;
}

.seccond-title{
    padding-top: 30px;
    padding-bottom: 10px;
}

.third-title{
    padding-top: 30px;
    padding-bottom: 10px;
}

.fourth-title {
    padding-top: 30px;
}

.hard-skills{
    padding-top: 30px;
}

.soft-skills{
    padding-top: 30px;
}

.skills {
    text-transform: none;
    color: #333;
}
.paragraph {
    font-size: 1.1rem;
}